<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Demir Fast Food</title>
    <link rel="stylesheet" href="/css/style.css" />
 
  </head>

  <body>
    <!-- Header Section -->
    <header class="header">
      <a href="/index" class="logo">
        <img src="images/logoss.png" alt="logo" />
      </a>
      <nav class="navbar">
        <a href="anasayfa">Ana Sayfa</a>
        <a href="menu">Menü</a>
        <a href="urunler">Ürünler</a>
        <a href="icecekler">İçecekler</a>
        <a href="#footer">İletişim</a>
        <a href="siparislerim">Siparişlerim</a>
      </nav>
      <div class="buttons">
        <button id="cart-btn">
          <i class="fas fa-shopping-cart"></i>
        </button>
        <button id="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <div class="cart-items-container">
        <div class="sepet" style="display: flex; height: 80px; align-items: center; gap: 10px;">
          <a href="javascript:void(0);" style="background-color: transparent; color: black; font-size: 15px; width: 250px; margin-top: 10px;">
            Tutar : <span class="price-value">0.00₺</span>
          </a>
          <a href="/kayit" id="siparis-ver-btn" class="btn" style="background-color: black; color: white; display: flex; justify-content: center; align-items: center; height: 50px; padding: 0 20px;">SİPARİŞ VER</a>
        </div>
      </div>
    </header>

    <!-- Home Section -->
    <section class="home" id="anasayfa">
      <div class="content">
        <h2>Açlığınızı Doyuran Lezzet!</h2>
        <p>Taze ve sıcak yemek yemek ister misiniz?</p>
        <a href="menu" class="btn">Sipariş Ver</a>
      </div>
    </section>

    <!-- Menü Section -->
    <section class="menü" id="menü">
      <h1 class="heading">Menü<span>müz</span></h1>
      <div class="box-container">
        <% if (menuler && menuler.length > 0) { %>
          <% menuler.forEach(function(menu) { %>
              <div class="box">
                  <div class="box-head">
                      <img src="<%= menu.resim %>" alt="<%= menu.isim %>" />
                      <h3><%= menu.isim %></h3>
                      <div class="price"><%= menu.eski_fiyat %>₺ <span><%= menu.fiyat %>₺</span></div>
                      <div class="info">
                          <span class="amount"><%= menu.gramaj %>gr/<%= menu.kalori %>cal</span>
                      </div>
                  </div>
                  <div class="box-bottom">
                    <a href="javascript:void(0);" 
                    data-id="<%= menu.id %>" 
                    data-quantity="1" 
                    class="add-to-cart-btn">
                    Sepete Ekle
                  </a>
                  </div>
              </div>
          <% }); %>
      <% } else { %>
          <p>Menüde ürün bulunamadı.</p>
      <% } %>
      
      </div>
    </section>

    <!-- Ürünler Section -->
    <section class="menü" id="menü">
      <h1 class="heading">Ürün<span>ler</span></h1>
      <div class="box-container">
        <% if (urunler && urunler.length > 0) { %>
          <% urunler.forEach(function(urun) { %>
            <div class="box">
              <div class="box-head">
                <img src="<%= urun.resim %>" alt="<%= urun.isim %>" />
                <h3><%= urun.isim %></h3>
                <div class="price"><%= urun.fiyat %>₺ <span><%= urun.eski_fiyat %>₺</span></div>
                <div class="info">
                  <span class="amount"><%= urun.gramaj %>gr/<%= urun.kalori %> cal</span>
                </div>
              </div>
              <div class="box-bottom">
                <a href="javascript:void(0);" 
                data-id="<%= urun.id %>" 
                data-quantity="1" 
                class="add-to-cart-btn">
                Sepete Ekle
              </a>
              </div>
            </div>
          <% }); %>
        <% } else { %>
          <p>Ürün bulunamadı.</p>
        <% } %>
      </div>
    </section>

    <!-- İçecekler Section -->
    <section class="menü" id="menü">
      <h1 class="heading">İçecek<span>ler</span></h1>
      <div class="box-container">
        <% if (icecekler && icecekler.length > 0) { %>
          <% icecekler.forEach(function(icecek) { %> <!-- Döngüde 'icecek' kullanılıyor -->
            <div class="box">
              <div class="box-head">
                <div class="drink">
                  <img src="<%= icecek.resim %>" alt="<%= icecek.isim %>" /> <!-- 'drink' yerine 'icecek' -->
                </div>
                <h3><%= icecek.isim %></h3>
                <div class="info">
                  <div class="price"><%= icecek.fiyat %>₺</div>
                  <span class="amount"><%= icecek.gramaj %> ml/<%= icecek.kalori %> cal</span>
                </div>
              </div>
              <div class="box-bottom">
                <a href="javascript:void(0);" 
                data-id="<%= icecek.id %>" 
                data-quantity="1" 
                class="add-to-cart-btn">
                Sepete Ekle
              </a>
              </div>
            </div>
          <% }); %>
        <% } else { %>
          <p>İçecek bulunamadı.</p>
        <% } %>
      </div>
    </section>
    

    <!-- Footer Section -->
    <section class="footer" id="footer">
      <div class="share">
        <a href="https://github.com/emredem1rr" target="_blank" class="fab fa-github"></a>
        <a href="https://www.instagram.com/emre.dem1r" target="_blank" class="fab fa-instagram"></a>
        <a href="https://x.com/emredem1r_" target="_blank" class="fab fa-twitter"></a>
      </div>
      <div class="credit">
        <i class="fa fa-map-marker"></i> Amasya Üniversitesi Mühendislik Fakültesi, 05100 Amasya Merkez <br>
        <i class="fa fa-phone"></i> 0541 816 95 45<br>
        created by <span>Emre Demir</span>
      </div>
    </section>

    <script src="js/script.js"></script>
  </body>
</html>
